.wrapper-tab-roomInfo{
  :deep{ 
    .ant-table-body{
      overflow: hidden scroll !important;
      height: calc(100vh - 295px) !important;
      border-bottom:1px solid #f5f4f7;
    }

    .ant-table-summary > tr > td {
      border: none !important;
    }
  }
  ::-webkit-scrollbar-track {
    background-color: white;
  }
  .table-area {
    padding: 0px !important;
  }

  .cell-actions{
    color: #5eb07c;
    user-select: none;
    cursor: pointer;
    .item {
      display: inline-block;
      margin-right: 25px;
    }
  }

  .row-summary{
    .cell-actions{
      .button-add{
        position:fixed;
        right: 45px;
        background-color:#5eb27a;
        color:white;
        font-size: 13px;
      }
    }
  }

  .footer{
    padding:10px 0;
    background-color: white;
    button{
      background-color:#5eb27a;
      color:white;
      margin-right: 20px;
      font-size: 13px;
    }
  }
  
}