@import "./color.scss";

//侧边导航栏
.ant-menu-title-content {
    // color: red;
}
.ant-menu-item {
  span {
    color: $sub-title;
  }
  &:hover {
    color: unset !important;
    background: rgba(54,179,116,0.1) !important;
  }
  &:active {
    background: $white;
  }
}
.ant-menu-item.ant-menu-item-selected {
    span {
      color: $white;
    }
    background-color: $theme-color !important;
    .ant-menu-title-content {
      &:hover {
        color: $white !important;
      }
    }
    &.ant-menu-item-active {
        color: $white;
    }
    &::after {
        border-right: 3px solid $theme-color;
    }
}
.ant-menu-item.ant-menu-item-active {
    color: $white;
}
.ant-menu-sub,.ant-menu-inline {
  background: $white !important;
}

.ant-menu-submenu-selected {
  color: $layout-text;
  // background-color: red;

  &.ant-menu-submenu-active {
      &:hover {
          color: $layout-text;
      }
  }
}
.ant-menu-submenu-active {
  color: unset !important;
  &:hover {
      color: unset;
  }
}

.ant-menu-submenu-title {
  &:hover {
      color: $layout-text !important;
  }
  .ant-menu-title-content {
    span {
      font-weight: bold !important;
      // background-color: red;
      color: $layout-text !important;
    }
  }
}
.ant-menu-submenu-arrow {
  color: unset !important;
}
.ant-menu-submenu:hover {
  .ant-menu-submenu-arrow {
    color: unset !important;
  }
}