
.wrapper-roomBookingTable{


  .cell-header{

    display: flex;

    .item{
      width:60px;
      margin-right: 20px;
    }
  }
  .cell-body{
    display: flex;

    .item{
      width:60px;
      margin-right: 20px;

      .icon-status{
        display:inline-block;
        width:7px;
        height:7px;
        border-radius:50%;
        background: rgba(255,159,63,0.39);
        margin-right: 3px;
      }
    }
  }

}
